    .sidebar {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 1rem;
        transition: all 0.3s ease;
        box-shadow: 5px 4px 0px 0px rgba(0, 0, 0, 0.09);
        -webkit-box-shadow: 10px 4px 16px 5px rgba(0, 0, 0, 0.228);
        -moz-box-shadow: 10px 4px 16px 5px rgba(0, 0, 0, 0.253);
    }
    
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 0.8rem;
        gap: 1rem;
        height: 5rem;
    }
    
    .logo>img {
        height: 3rem;
        width: 3rem;
    }
    
    .logo>span {
        font-size: 2rem;
    }
    
    .logo>span>span {
        color: rgb(213, 24, 87);
        font-size: 2rem;
    }
    
    .center {
        padding-left: 10px;
    }
    
    hr {
        height: 0;
        border: 0.5px solid black;
    }
    
    ul {
        list-style: none;
        padding: 0;
        margin-left: 1rem;
    }
    
    li {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;
        margin: 5px;
    }
    
    li span {
        font-size: 1.1rem;
    }
    
    li:hover {
        background-color: #ece8ff;
    }
    
    li .icon {
        font-style: 18px;
        color: black;
    }
    
    .title {
        font-size: 1.2rem;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    
    span {
        font-size: 13px;
        font-weight: bold;
        color: #888;
        margin-left: 10px;
    }